h2 {
    width: 100%;
    justify-content: center;
    display: flex;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin: auto;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form-first-part {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    background-color: rgba(90, 111, 10, .1);
    border-radius: 10px;
    padding: .7rem;
}

.form-second-part {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-second-part input {
    width: 100%;
}

.form-third-part {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.form-third-part select {
    margin-top: .5rem;
}

label {
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit-button {
    margin: 2rem;
    padding: .8rem;
    border-radius: 10px;
    width: 100px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: white
}

.submit-button:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.form-container input {
    margin-bottom: .8rem;
}

.address {
    background-color: rgba(147, 173, 24, .1);
}